body{
    cursor: pointer;
}
.title
{
    font-weight: bold;
}
.extra
{
    font-weight: lighter;
    color: rgb(92, 91, 91);
}
.cont
{
    width: 530px;
}
.end
{
    color: rgb(16, 162, 211);
}
.end:hover
{
    text-decoration: underline;
    cursor: pointer;
}